In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Data Extracted from Contract Research Organization of a Pharmaceuticle 
patient_file = "Resources/Patient Data_1.csv"
patient_df = pd.read_csv(patient_file)
patient_df.head()

,patientid,Treatment,sampleid,panel,visitc,batch,qc,ctrl,bmtype,revision_id,gate_full_path,gate_path,param,cell_prop,cell_count
0,33481,2 mg Dose,QW00774,FLOW_Myeloid_PBMC,D1,8,PASS,0,fc,8,/FSC Singlets/SSC Singlets/Lymphocytes,Lymphocytes,LYMPHOCYTES,0.317146,150224
1,33481,2 mg Dose,QW00774,FLOW_Myeloid_PBMC,D1,8,PASS,0,fc,8,/FSC Singlets/SSC Singlets/Lymphocytes/Viable/...,Macrophages,MACROPHAGES,0.030207,247
2,33481,2 mg Dose,QW00774,FLOW_Myeloid_PBMC,D1,8,PASS,0,fc,8,/FSC Singlets/SSC Singlets/Lymphocytes/Viable/...,Total T cells (CD3+),TOTAL T CELLS (CD3+),0.664925,98740
3,33481,2 mg Dose,QW00758,FLOW_Myeloid_PBMC,D15,8,PASS,0,fc,8,/FSC Singlets/SSC Singlets/Lymphocytes,Lymphocytes,LYMPHOCYTES,0.305495,72608
4,33481,2 mg Dose,QW00758,FLOW_Myeloid_PBMC,D15,8,PASS,0,fc,8,/FSC Singlets/SSC Singlets/Lymphocytes/Viable/...,Macrophages,MACROPHAGES,0.012005,77

In [3]:
#Data Extracted from Contract Research Organization of a Pharmaceuticle 
patient_key = "Resources/Patient Data_key.csv"
patientkey_df = pd.read_csv(patient_key)
patientkey_df.head(25)

    patientid sex  age CORTSTER            ethniciy
0       33481   F   59       NO  Group 4: Caucasian
1       33482   M   40       NO  Group 2: Caucasian
2       33483   F   25       NO  Group 4: Caucasian
3       33484   F   53       NO   Group 1: Japanese
4       33485   F   56       NO  Group 2: Caucasian
5       33486   F   45      YES   Group 1: Japanese
6       33487   F   36       NO  Group 2: Caucasian
7       33488   F    6       NO  Group 4: Caucasian
8       33489   F   48       NO  Group 2: Caucasian
9       33490   F   59       NO  Group 4: Caucasian
10      33491   M   38       NO   Group 1: Japanese
11      33492   M   45       NO  Group 4: Caucasian
12      33493   M   40       NO   Group 3: Japanese
13      33494   M   24       NO  Group 4: Caucasian
14      33495   F   26       NO  Group 2: Caucasian
15      33496   M   53       NO  Group 2: Caucasian
16      33497   F   37       NO   Group 1: Japanese
17      33498   M   45       NO  Group 4: Caucasian
18      33499   M   45       NO   Group 3: Japanese
19      33500   M   40       NO  Group 2: Caucasian
20      33501   M   21       NO  Group 2: Caucasian
21      33502   F   28       NO   Group 1: Japanese
22      33503   F   33       NO   Group 3: Japanese
23      33504   M   36       NO   Group 1: Japanese
24      33505   M   38       NO  Group 2: Caucasian

In [12]:
# Transform patient DataFrame
# Create a filtered dataframe from specific columns
patientdata_cols = ["patientid", "Treatment", "visitc", "batch", "qc", "gate_path", "cell_prop", "cell_count"]
patientdata_transformed= patient_df[patientdata_cols].copy()

# Rename the column headers
patientdata_NewColumnHeader = patientdata_transformed.rename(columns={"patientid": "patientid",
                                                          "Treatment": "treatment",
                                                          "visitc":"sampleday",
                                                          "batch":"analysisbatch",
                                                          "qc": "qualitycontrol",
                                                          "gate_path":"celltype",
                                                          "cell_prop":"perecentcells",
                                                          "cell_count":"cellcount"})


patientdata_NewColumnHeader.head()

,patientid,treatment,sampleday,analysisbatch,qualitycontrol,celltype,perecentcells,cellcount
0,33481,2 mg Dose,D1,8,PASS,Lymphocytes,0.317146,150224
1,33481,2 mg Dose,D1,8,PASS,Macrophages,0.030207,247
2,33481,2 mg Dose,D1,8,PASS,Total T cells (CD3+),0.664925,98740
3,33481,2 mg Dose,D15,8,PASS,Lymphocytes,0.305495,72608
4,33481,2 mg Dose,D15,8,PASS,Macrophages,0.012005,77

In [13]:
# Clean the data by dropping Analysis Records that failed Quality Control 
patientdata_NewColumnHeader[patientdata_NewColumnHeader.qualitycontrol != 'FAIL']
patientdata_NewColumnHeader.head()

patientdata_newIndex = patientdata_NewColumnHeader.set_index('patientid')
patientdata_newIndex.head()

,treatment,sampleday,analysisbatch,qualitycontrol,celltype,perecentcells,cellcount
patientid,,,,,,,
33481,2 mg Dose,D1,8,PASS,Lymphocytes,0.317146,150224
33481,2 mg Dose,D1,8,PASS,Macrophages,0.030207,247
33481,2 mg Dose,D1,8,PASS,Total T cells (CD3+),0.664925,98740
33481,2 mg Dose,D15,8,PASS,Lymphocytes,0.305495,72608
33481,2 mg Dose,D15,8,PASS,Macrophages,0.012005,77

In [14]:
# Transform patientkey DataFrame

# Rename the column headers
patientkeydata_NewColumnHeader = patientkey_df.rename(columns={"patientid": "patientid",
                                                          "sex": "patientsex",
                                                          "age":"patientage",
                                                          "CORTSTER": "onsteroids",
                                                          "ethniciy": "patientethnicity"})


patientkeydata_NewColumnHeader.head()

   patientid patientsex  patientage onsteroids    patientethnicity
0      33481          F          59         NO  Group 4: Caucasian
1      33482          M          40         NO  Group 2: Caucasian
2      33483          F          25         NO  Group 4: Caucasian
3      33484          F          53         NO   Group 1: Japanese
4      33485          F          56         NO  Group 2: Caucasian

In [15]:
#set index to patient ID
patientkeydata_newIndex = patientkeydata_NewColumnHeader.set_index('patientid')
patientkeydata_newIndex.head()

          patientsex  patientage onsteroids    patientethnicity
patientid
33481              F          59         NO  Group 4: Caucasian
33482              M          40         NO  Group 2: Caucasian
33483              F          25         NO  Group 4: Caucasian
33484              F          53         NO   Group 1: Japanese
33485              F          56         NO  Group 2: Caucasian

In [16]:
#Create database connection
connection_string = "postgres:postgres@localhost:5432/etlproject2_db"
engine = create_engine(f'postgresql://{connection_string}')

In [17]:
# Confirm the two tables created in SQL
engine.table_names()

['patient_key', 'patient_data']

In [18]:
#Load DataFrames into database
patientdata_newIndex.to_sql(name='patient_data', con=engine, if_exists='append', index=True)
patientkeydata_newIndex.to_sql(name='patient_key', con=engine, if_exists='append', index=True)